body{

font-family:Arial;

background:#ececec;

}

.container{

width:700px;

margin:auto;

padding:20px;

}

input,
textarea{

width:100%;

padding:10px;

margin:10px 0;

}

.note{

background:white;

padding:15px;

margin-top:15px;

border-radius:8px;

}